<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
  </title>
  </head>

  <body>
  <h1>home</h1>
  <p>Hi! Welcome to the homepage! You successfully logged in and get to see alllll the informations. Good job and keep it up, friend!</p>
  </body>
</html>
