<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
  </title>
  </head>

  <body>
  <h1>login</h1>
{{#error}}
try again loser
{{/error}}
  <form class="" action="/login" method="post">
    <label for="">Username</label>
    <input type="text" name="username" value="">
    <label for="">Password</label>
    <input type="text" name="password" value="">
    <button type="submit" name="button">Submit</button>


  </form>
  </body>
</html>
